<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.graphapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.OTPVerificationActivity"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FormActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:parentActivityName=".activity.FormActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.EventActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MilestoneActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PlanActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ScenarioActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ExportActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>